---
import { Image } from "astro:assets";
import SiteLayout from "../layouts/SiteLayout.astro";
import AliAImg from "../../static/Ali A.jpeg";
import gatorImg from "../../static/gator.png";
---

<SiteLayout description="My little corner of the internet" title="Ali Abdoli's Website">
  <div id="name" class="lg:text-9xl hidden dark:block text-6xl">Gator</div>
  <div id="name" class="lg:text-9xl dark:hidden text-6xl">Ali Abdoli</div>
  <Image
    id="gatorImg"
    class="rounded-full hidden dark:block"
    width="200"
    height="200"
    src={gatorImg}
    alt="Avatar"
  />
  <Image
    id="aliImg"
    class="rounded-full dark:hidden"
    width="200"
    height="200"
    src={AliAImg}
    alt="Avatar"
  />
  <div id="quote" class="lg:text-xl dark:hidden text-center text-sm">
    “If you want to build a ship, don't drum up the men to gather wood, divide
    the work, and give orders. Instead, teach them to yearn for the vast and
    endless sea.”<br />
    ― Antoine de Saint-Exupéry
  </div>
  <div id="quote" class="lg:text-xl hidden dark:block text-center text-sm">
    “One must imagine Sisyphus happy.”<br />
    ― Albert Camus
  </div>
</SiteLayout>
