---
import { Image } from "astro:assets";
import resume from "../../static/resume.png";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Resume">
  <a href="../../static/resume.pdf">
    <Image class="md:mt-24 border border-gray-400" src={resume} alt="resume" />
  </a>
</SiteLayout>
