---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav>
  <ul
    class="absolute flex m-0 justify-start list-none p-2 bg-white dark:bg-black text-white dark:text-black border border-gray-400"
  >
    <li class="px-2 py-1">
      <a
        href="/"
        class:list={[
          "text-gray-400 no-underline text-sm",
          currentPath === "" ? "!text-black dark:!text-white" : "",
        ]}>Home</a
      >
    </li>
    <li class="px-2 py-1">
      <a
        href="/blog"
        class:list={[
          "text-gray-400 no-underline text-sm",
          currentPath === "blog/" ? "!text-black dark:!text-white" : "",
        ]}>Blog</a
      >
    </li>
    <li class="px-2 py-1">
      <a
        href="/resume"
        class:list={[
          "text-gray-400 no-underline text-sm",
          currentPath === "resume/" ? "!text-black dark:!text-white" : "",
        ]}>Resume</a
      >
    </li>
  </ul>
</nav>
