---
import SpeedInsights from "@vercel/speed-insights/astro";
import Navbar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/aliabdoli.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ali Abdoli's Blog"
      href={`${Astro.site}rss.xml`}
    />
    <SpeedInsights />
  </head><body
    class="bg-white dark:bg-black dark:text-white text-black font-sans"
  >
    <Navbar />
    <main class="flex flex-col items-center">
      <div
        class="2xl:w-1/2 flex flex-col justify-center items-center space-y-10 min-h-[calc(100vh-7rem)] w-3/4"
      >
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
